.img-s{
    background-image: url('./asset/foto.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
}
.text {
    position:absolute;
    margin-top: -680px;
    margin-left: 400px;
}
.sentence{
    position:absolute;
    margin-top: -630px;
    margin-left: 400px;
    margin-right: 50px;
}
.foto{
    position:absolute;
    margin-top: -100px;
    margin-left: 500px;
    margin-right: 50px;
}
.spasi{
    margin-right: 30px;
    border-radius: 100px;
}
.card {
    text-align: center;
    position:absolute;
    margin-top: -550px;

  }
  
  .container-c {
    padding: 2px 16px;
  }
  .img-c{
    background-image: url('./asset/me.jpg');
    background-size: cover;
    width: 20%;
    position: relative;
    border-radius: 10px;
}